<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- nav partial -->
    <%- include("../partials/nav") %> 
    <hr>
    <!-- login or register form -->
    <% if(data.partial==="register") {%>
      <%-include("../partials/register.ejs")%> 
    <% } else if (data.partial==="login") {%>
       <%-include("../partials/login.ejs")%> 
    <% } %>
  </body>
</html>
